<launch>
  <arg name="joy_dev" default="/dev/input/js0" />

  <include file="$(find jackal_description)/launch/description.launch" />
  <rosparam command="load" file="$(find jackal_base)/config/base.yaml" />

  <node pkg="jackal_base" type="jackal_node" name="jackal_node" />

  <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="jackal_velocity_controller" />

  <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver" ns="navsat" />

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" />
  
  <node pkg="joy" type="joy_node" name="joy_node" ns="bluetooth_teleop">
    <param name="dev" value="$(arg joy_dev)" />
  </node>
</launch>
