<!--
Launch driver components of Jackal's supported accessories.

Be careful that the defaults in this file are kept aligned with those
in the URDF. See jackal_description/urdf/accessories.urdf.xacro.
-->
<launch>
  <!-- Primary LMS1xx-series LIDAR, typically front-facing. -->
  <group if="$(optenv JACKAL_LASER 0)">
    <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node">
      <param name="host" value="$(optenv JACKAL_LASER_HOST 192.168.1.14)" />
      <param name="frame_id" value="$(optenv JACKAL_LASER_MOUNT front)_laser" />
      <remap from="scan" to="$(optenv JACKAL_LASER_SCAN_TOPIC scan)" />
    </node>
  </group>

  <!-- Primary Novatel SMART6 GPS, typically front-facing. -->
  <group if="$(optenv NOVATEL_GPS 0)">
	<node name="novatel_span_driver" pkg="novatel_span_driver" type="driver">
    <param name="ip" value="$(env NOVATEL_SPAN_IP)" />
    <rosparam ns="configuration">
      log_request:
        inspvaxb: 0.05
        inscovb: 1
        bestposb: 0.05
        corrimudatab: 0.05
      command:
        connectimu: COM3 IMU_KVH_COTS
        setimuorientation: 5
        vehiclebodyrotation: 0.000000 0.000000 0.000000 0.000000 0.000000 0.000000
        applyvehiclebodyrotation: enable
        setimutoantoffset: -0.519200 -0.131500 0.258600 0.001000 0.001000 0.001000
        setimutoantoffset2: 0.580800 -0.131500 0.258600 0.001000 0.001000 0.001000
        setinsoffset: 0.030800 -0.294200 -0.104100
        alignmentmode: AUTOMATIC
    </rosparam>

    <!-- Whether or not the driver should publish a TF, and what frames it should
         be between. This configuration publishes odom -> base_link. -->
    <param name="publish_tf" value="true" />
    <param name="odom_frame" value="odom" />
    <param name="base_frame" value="base_link" />

    <!-- IMU rate; controls scaling of the imu/data topic values. This is a
         function of the underlying hardware IMU rate, which is 100Hz for IMU-CPT. -->
    <param name="rate" value="100" />

    <!-- Disable this if you don't want SPAN to use wheel encoder data. -->
    <param name="enable_wheel_velocity" value="true" />
    <remap from="odom" to="encoder" />

    <!-- Disable this if you'd like the Odometry to be absolute within the UTM zone
         rather than starting from an arbitrary zero origin. -->
    <param name="zero_start" value="true" />
  </node>

    
  </group>



</launch>
