<!--
Launch driver components of Jackal's supported accessories.

Be careful that the defaults in this file are kept aligned with those
in the URDF. See jackal_description/urdf/accessories.urdf.xacro.
-->
<launch>
  <!-- Primary LMS1xx-series LIDAR, typically front-facing. -->
  <group if="$(optenv JACKAL_LASER 0)">
    <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node">
      <param name="host" value="$(optenv JACKAL_LASER_HOST 192.168.1.14)" />
      <param name="frame_id" value="$(optenv JACKAL_LASER_MOUNT front)_laser" />
      <remap from="scan" to="$(optenv JACKAL_LASER_SCAN_TOPIC scan)" />
    </node>
  </group>

  <!-- Optional upgraded GPS receiver. -->
  <group ns="navsat/upgrade" if="$(optenv JACKAL_NAVSAT 0)">
    <node pkg="nmea_comms" type="serial_node" name="nmea_serial_node" output="screen">
      <param name="port" value="$(optenv JACKAL_NAVSAT_PORT /dev/clearpath/gps)" />
      <param name="baud" value="$(optenv JACKAL_NAVSAT_BAUD 57600)" />
      <param name="frame_id" value="$(optenv JACKAL_NAVSAT_MOUNT rear)_navsat" />
    </node>

    <!-- NMEA Interpretation -->
    <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver" />

    <!-- Optional RTK relay -->
    <group if="$(optenv JACKAL_NAVSAT_RTK 0)">
      <node pkg="jackal_bringup" type="navsat_rtk_relay" name="navsat_rtk_relay"
            args="--serial-port /dev/clearpath/rtcm
                  --device $(optenv JACKAL_NAVSAT_RTK_DEVICE wlan0)
                  --baud $(optenv JACKAL_NAVSAT_RTK_BAUD 57600)" />
    </group>
  </group>
</launch>
